# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ide设置文件
.vscode

# 测试文件
test/

# 打包分析文件
stats.html

# 自动导入声明文件
types/auto-imports.d.ts
types/components.d.ts

# 恢复 package/dist 的提交
!packages/plugin/dist/
!packages/openapi-generator/dist/
